@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
    --text-color:#000;
    --copyright-text-color:#444444;
    --footer-bg-color:#DDDDDD;
    --button-bg-color:#f1c40f;
    --button-bg-color-hover:#ffa500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    width: 100%;
}