.main__registration-bg {
    background-color:var(--bgc-our-tours) ;
    padding-top: 100px;
}
.main__registration-card{
    width: 570px;
    background-color: var(--main-registration-form);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 3px solid var(--border-color-input);
    border-radius: 8px;
    color:var(--header-banner-color) ;
}
.registration__title{
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    color: var(--button-bg-color);
    line-height: 38px;
}
.registration__form {
    /* display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    margin: auto; */
}
.registration__form input{
 width: 100%;
 padding: 19px 21px;
 margin-top: 20px;
 background-color: var(--main-registration-form-input);
 border: 2px solid var(--border-color-input);
 border-radius: 4px;
}
.registration__form input::-webkit-input-placeholder {
    color:white;
    font-size: 12px;
    font-weight: 400;
    font-family:"Roboto",sans-serif ;
}
.registration__button{
    background-color: var(--button-bg-color);
    color: var(--header-banner-color);
    width: 100%;
    padding: 19px 21px;
    margin-top: 20px;
    border: 2px solid var(--border-color-input);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    font-family:"Roboto",sans-serif ;
    text-transform: uppercase;
}
.registration__button:hover{
    background-color: var(--button-bg-color-hover);
}