.main__our-tours {
    background-color: var(--bgc-our-tours);
}
.main__our-tours-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 70px 0;
}
.our-tours__list{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-top: 50px;
}
.our-tours__card {
    width: 360px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-items: flex-start;
    padding: 5px;
}
.our-tours__card:hover{
    border: 3px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 3px 8px;
}
.our-tours__header {
    color: var(--button-bg-color);
}
.our-tours__card-price {
    color: var(--button-bg-color);
    font-weight: 700;
}
.card-features-list__list-title{
    color: var(--header-banner-color);
}
